.App {
  text-align: center;
}

body {
  background-image: url("https://img.freepik.com/free-photo/starry-night-sky_1048-11828.jpg?w=1060&t=st=1692916642~exp=1692917242~hmac=2249b06cc5ad075fb6d01f60f65d0660c53c0eb590d8389f883ff89ca8c02969");
}


.title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  animation: fadeIn 5s;
}
p {
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  animation: fadeIn 10s;
}
.title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}
